.Tag {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 1000px;
    }
}

.upvotes{
    width: 60px;
    margin-right:0px;
    margin-left: 20px !important;
}

.share_up{
    display:flex;
    flex-direction:row;
}
.sharebox{
    margin-right:35px;
    margin-top: 6px;
}
.vote_button{
    padding: 8px !important;
}
